/LaTeX/*.aux
/LaTeX/*.fls
/LaTeX/*.out
/LaTeX/*.log
/LaTeX/*.pdf
/LaTeX/innovate.pdf
/LaTeX/*.blg
/LaTeX/*.bbl
/LaTeX/*.gz
/LaTeX/*.fdb_latexmk
/.DS_Store
.DS_Store
/LaTeX/.DS_Store
.ipynb_checkpoints
/__pycache__/*